@import '@/styles/varaibles';

.ContentContainer {
  width: @desktop-max-width;
  margin: 0 auto;
}

.Content {
  background: white;
  border-right: 1px solid #e4e5e6;
  border-left: 1px solid #e4e5e6;
  padding: 20px;
}

.Punsters {
  border-left: 1px solid #e4e5e6;
  background: white;
  padding: 20px;
}
